<% layout(`layouts/boilerplate`) %>
  <h1>Agent Profile</h1>
  <strong>Name</strong>: <%= agent.name %></br>
  <strong>Address</strong>: <%= agent.address %></br>
  <strong>Phone</strong>: <%= agent.phone %></br>

  <h2>Properties listed by Agent</h2>
  <% properties.forEach(property=> { %>
    <li><a href="/properties/<%= property._id %>">
        <%= property.title %>
      </a>
    </li>
  <% }) %>
