<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PropertyApp - Add New Property</title>
</head>

<body>
  <%- include(`../partials/nav.ejs`) %>
  <% const {_id, title, type, rent, area, postcode, bedrooms, bathrooms, latitude, longitude, features, description} = property; %>
    <h1>Edit Property: <%= title %></h1>
    <form action="/properties/<%= _id %>?_method=PUT" method="post">
      <div>
        <label for="title">Title</label></br>
        <input type="text" name="title" id="title"
          placeholder="eg: 3BHK in Deansgate" value="<%= title %>" >
      </div>
      <div>
        <label for="rent">Rent</label></br>
        <input type="number" name="rent" id="rent" placeholder="eg: 2" min="0"
          max="100000" step="5" value="<%= rent %>">
      </div>
      <div>
        <label for="property-type">Type</label></br>
        <select name="type" id="property-type">
          <option value="house ">House </option>
          <option value="flat">Flat</option>
          <option value="apartment">Apartment</option>
          <option value="bungalow">Bungalow</option>
        </select>
      </div>
      <div>
        <label for="area">Area</label></br>
        <input type="text" name="area" id="area" placeholder="eg: Deansgate" value="<%= area %>">
      </div>
      <div>
        <label for="bathrooms">Bathrooms</label></br>
        <input type="number" name="bathrooms" id="bathrooms" placeholder="eg: 2"
          min="0" max="25" value="<%= bathrooms %>">
      </div>
      <div>
        <label for="bedrooms">Bedrooms</label></br>
        <input type="number" name="bedrooms" id="bedrooms" placeholder="eg: 4"
          min="0" max="25" value="<%= bedrooms %>">
      </div>
      <div>
        <label for="postcode">Postcode</label></br>
        <input type="text" name="postcode" id="postcode"
          placeholder="eg: M1 1QD" value="<%= postcode %>">
      </div>
      <div>
        <label for="features">Features</label></br>
        <% features.forEach(feature => { %>
          <input type="text" name="features" id="features" placeholder="eg: Close to train station" value="<%= feature %>"></br>
        <% }) %>
      </div>
      <div>
        <label for="title">Description</label></br>
        <textarea name="description" id="description" cols="30"
          rows="10"><%= description %></textarea>
      </div>
      <div>
        <button type="submit">Save</button>
        <button><a href="<%= `/properties/${_id}`%>">Cancel</a></button>
      </div>
    </form>

</body>

</html>
